@import '../../../variables.scss';

button {
  font-size: 1.5rem;
  width: 6.6rem;
  padding: 0.5rem 0.2rem;
  border: 0.3rem solid $main-color;
  background-color: $main-color;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;

  &:hover,
  &.active {
    background-color: #fff;
    color: $main-color;
  }
}
