@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "../variables.scss";

header {
  background-color: $main-color;
  color: #fff;

  h1 {
    display: block;
    padding: 10px;
    margin: 0;
  }

  nav {
    display: flex;
    justify-content: flex-end;

    a {
      display: block;
      width: 6em;
      height: 2em;
      line-height: 2em;
      text-decoration: none;
      color: #fff;
      text-align: center;

      &.active,
      &:hover {
        color: $secondary-color;
        background-color: #fff;
      }
    }
  }
}
