@import '../../../variables.scss';

.cell {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0.15rem;
  background-color: $main-color;
  text-align: center;
  line-height: 2rem;

  &.open {
    background-color: #e3e3e3;
  }
}
